.Product{
    color: #242424;
    background-color: azure;
    border-radius: 10px;
    padding: 5px 15px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
}
.Product:hover{
    background-color: rgb(0, 123, 255);
    color: whitesmoke;
    box-shadow: 0px 0px 10px 2px rgba(105, 140, 255, 0.3);
}